:root {
  --main-bg-color: #faf9f6;
  --usermsg-bg-color: #e2f0fa;
  --bg-color-2: #f0eee9;
  --text-color: #000;
  --text2-color: #333;
  --text3-color: #666;
  --text4-color: #777;
  --text5-color: #888;
  --line-color: #aaa;
  --card-bg: #fff;
  --button-bg: #eee;
  --button-hover-bg: #ddd;
  --border-color: #ccc;
  --active-selection-color: rgba(0, 0, 0, 0.5);
  --selection-hover-color: rgba(0, 0, 0, 0.5);
  --green-text-color:#006b2d;
  --green-background-color: #b1ffc7;
  --yellow-text-color:#5a4b00;
  --yellow-background-color: #FFF9b1;
  --red-text-color:#6b0000;
  --red-background-color: #fec5c5;
}

[data-theme='dark'] {
  --main-bg-color: #121212;
  --usermsg-bg-color: #243d50;
  --bg-color-2: #333;
  --text-color: #f0f0f0;
  --text2-color: #b9c8d8;
  --text3-color: #8194a8;
  --text4-color: #6c7d91;
  --text5-color: #5d6d80;
  --line-color: #333;
  --card-bg: #1e1e1e;
  --button-bg: #333;
  --button-hover-bg: #444;
  --border-color: #555;
  --active-selection-color: rgba(255, 255, 255, 0.5);
  --selection-hover-color: rgba(255, 255, 255, 0.5);
  --green-text-color:#c6ebd1;
  --green-background-color: #304639;
  --yellow-text-color:#e2dfbc;
  --yellow-background-color: #5c5433;
  --red-text-color:#e4c4c4;
  --red-background-color: #4b2b2b;
}

.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.food-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  gap: 8px;
  padding-top: 8px;
  flex-grow: 1;
}

.food-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.food-card {
  flex: 0 0 auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--main-bg-color);
  display: flex;
  width: 210px;
  flex-direction: column;
  overflow: hidden;
}

.food-card.selected {
  background-color: var(--bg-color-2);
}

.food-card img {
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.food-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 8px 16px 4px;
}

.food-description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 16px 12px;
}

.food-info h3 {
  font-size: 0.8rem;
  color: var(--text-color);
  line-height: 1;
  margin: 0;
}

.food-info p {
  font-size: 0.8rem;
  color: var(--text2-color);
  font-weight: 500;
}

.food-description p {
  font-size: 0.8rem;
  color: var(--text3-color);
  font-weight: 400;
}

.scroll-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 1;
}

.scroll-button i {
  font-size: 36px;
}

.scroll-button:hover {
  background: rgba(0, 0, 0, 0.4);
}

.scroll-button.left {
  left: 0;
  margin-right: 0.5rem;
}

.scroll-button.right {
  right: 0;
  margin-left: 0.5rem;
}

.order-btn-container {
  margin-top: auto;
  margin-left: auto;
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.food-container {
  margin-top: 12px;
}

.food-options {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 40px;
}

.options {
 margin: 4px 0 0 0;
 user-select: none;
}

.food-options h4 {
  margin: 0.5rem 0 0.2rem;
}

.confirm-btn {
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #248eff;
}

.confirm-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-btn {
  margin-top: auto;
  margin-left: auto;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #248eff;
}

/* */

.toggle-switch {
  display: flex;
  border: 1px solid #007bff;
  border-radius: 16px;
  overflow: hidden;
  width: fit-content;
  margin: 0.5rem 0;
}

.toggle-option {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0;
}

/* Left option when selected: round left */
.toggle-option:first-child.active {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Right option when selected: round right */
.toggle-option:last-child.active {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.toggle-option.active {
  background-color: #007bff;
  color: white;
}

.order-list {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 1rem 1rem 1.5rem;
  background-color: #00ff6233;
  border: 1px solid #00ff6255;
  border-radius: 10px;
}


/* Foodorders list */
.foodorders-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}

.foodorders-item {
  min-width: 160px;
  padding: 1rem;
  background-color: #77777733;
  border: 1px solid #94949455;
  border-radius: 10px;
}

.foodorders-item-user {
  min-width: 160px;
  padding: 1rem;
  background-color: #007bff33;
  border: 1px solid #007bff55;
  border-radius: 10px;
}