.stage-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.7rem;
  user-select: none;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;
}

.slider {
  width: 100%;
  min-width: 180px;
  max-width: 300px;
  appearance: none;
  height: 2px;
  background: #99999955;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

/* Slider thumb */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #38bdf8;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #444;
  border-radius: 50%;
  border: none;
}

.slider-icons,
.slider-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.slider-icons span,
.slider-labels span {
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.selected-label {
  margin-top: 8px;
  font-weight: 500;
}