#root {
  max-width: 100%;
  padding: 2rem 1rem;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden; /* prevent layout blowout */
}

:root {
  --main-bg-color: #faf9f6;
  --text-color: #000;
  --text2-color: #333;
  --text3-color: #666;
  --card-bg: #fff;
  --button-bg: #eee;
  --button-hover-bg: #ddd;
  --border-color: #ccc;
  --active-selection-color: rgba(0, 0, 0, 0.5);
  --selection-hover-color: rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] {
  --main-bg-color: #121212;
  --text-color: #f0f0f0;
  --text2-color: #b9c8d8;
  --text3-color: #8194a8;
  --card-bg: #1e1e1e;
  --button-bg: #333;
  --button-hover-bg: #444;
  --border-color: #555;
  --active-selection-color: rgba(255, 255, 255, 0.5);
  --selection-hover-color: rgba(255, 255, 255, 0.5);

}

html, body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

p {
  margin: 0;
}

.list-p {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

h3 {
  font-size: 1em;
}

h4 {
  color: var(--text2-color);
  font-size: 0.9em;
  margin-top: 12px;
  margin-bottom: 8px;
  line-height: 1;
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 30px;
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 4px 20px;
  color: white;
  background-color: #3da8ff;
}

.top-header i {
  font-size: 2rem;
}

.top-header h2 {
  font-weight: 500;
  line-height: 1;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.top-header button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
}

.top-header button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.bottom-header {
  padding-top: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--card-bg);
}

/* Lists */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-heading {
  color: var(--text2-color);
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.ul-heading:hover {
  cursor: pointer;
}

.logo {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.nflogo {
  height: 56px;
  padding: 2px 7px;
  transition: all 0.2s;
}

.nflogo:hover {
  height: 60px;
  padding: 0;
}

/* Users */
.userlist {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 8px;
}

.usertag-container {
  position: relative;
}

.user-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  user-select: none;
}

.user-tag:hover {
  cursor: pointer;
}

.usertag-dropdown {
  min-width: max-content;
  font-weight: 500;
  background-color: var(--card-bg);
  padding: 2px;
  position: absolute;
  right: 0;
  z-index: 12;
  border: 1px solid var(--border-color);
}


.user {
  color: #3da8ff;
  font-weight: 500;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #f5f7fb;
  border-radius: 50%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1200px;
}

/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Menu bar */
.menu-bar {
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1200px;
}

.menu-bar-left {
  display: flex;
  align-items: center;
}

.menu-bar-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-bar-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Footer */

.footer {
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px;
  color: var(--text3-color);
}

.footer p {
  margin: 0;
  line-height: 1.5;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 200px;
  padding: 4px 20px 4px 20px;
  border-radius: 10px;
  background-color: var(--card-bg);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 24px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.has-header {
  padding-top: 50px;
  padding-bottom: 40px
}

.grow-1 {
  flex-grow: 1;
}

.card-header {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  padding-top: 20px;
  align-items: center;
  top:0;
  left: 0;
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0 0;
}

/* ToDo */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.create-task-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}

.create-task-input-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  line-height: 1.2;
  padding: 0 12px 0 8px;
  border: 1px solid transparent;
}

.task p {
  margin: 12px 0;
}

.task-info {
  display: flex;
  text-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.task-dropdown {
  position: absolute;
  top: 32px;
  background-color: var(--card-bg);
  padding: 2px;
  border: 1px solid var(--border-color);
  z-index: 2;
}

.task-active {
  color:var(--text-color);
  background-color: var(--main-bg-color);
}

.task-finished {
  color:#006b2d;
  background-color: #b1ffc7;
}

.task-onhold {
  color:#5a4b00;
  background-color: #FFF9b1;
}

.task-cancelled {
  color:#6b0000;
  background-color: #fec5c5;
}

.status-dropdown {
  position: absolute;
  right: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--card-bg);
  z-index: 3;
  padding: 4px;
  user-select: none;
  border: 1px solid var(--border-color);
}

.dropdown-item {
  display: grid;
  grid-template-columns: 18px 1fr;
  padding: 4px 8px;
  border: 1px solid transparent;
}

.dropdown-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item-text-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 8px;
}

/* PIN-form */
.pin-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #3da8ff;
  padding: 20px 40px 40px;
  border-radius: 10px;
  z-index: 20;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 8px;
}

/* Tabs */

.tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tab {
  color: #555;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color:#777;
  font-size: 0.8rem;
  user-select: none;
}

/* Notes */
.stickerboard {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.sticker {
  position: relative;
  box-sizing: border-box;
  padding-top: 32px;
  height: 240px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 0px 1px;
  transition: width 0.2s ease;
}

.sticker-yellow {
  background-color: #FFF9b1;
}

.sticker-blue {
  background-color: #b1e4ff;
}

.sticker-red {
  background-color: #fec5c5;
}

.sticker-green {
  background-color: #b4ffb1;
}

.sticker-headline {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  color: #474747;
  font-size: 0.8rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sticker-icons {
  display: flex;
  gap: 4px;
}

.sticker-icon {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.3)
}

.sticker-icon:hover {
  color: rgba(0, 0, 0, 0.4)
}

.sticker-textarea {
  font-family: "Kalam", cursive;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
}

/* Burgermenu */
.burgermenu {
  color: #999;
  cursor: pointer;
}

.burgermenu:hover {
  color: #777;
}

.burger-dropdown {
  position: absolute;
  background-color: var(--card-bg);
  z-index: 2;
  border: 1px solid var(--border-color);
  user-select: none;
  padding: 4px;
}

.burger-dropdown ul{
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.burger-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  padding: 8px 16px;
  line-height: 0;
  cursor: pointer;
}

.burger-li-active {
  color:#006b2d;
  background-color: #b1ffc7;
}

.burger-li-inactive {
  color:#818181;
  background-color: #dedede;
}


/* Messages */

.message {
  display: flex;
  flex-direction: column;
}

.message p {
  line-height: 1.5;
  margin: 0;
}

.message-info {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.message-timestamp {
  color: #7c93a6;
}

.message-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.message-input {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 50px;
  padding: 4px 8px;
  resize: none;
  border: none;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.message-btn {
  padding: 8px 16px;
  color: white;
  background-color: #2999f7;
  margin-left: auto;
}

.message-btn:hover {
  background-color: #3da8ff;
}

/* Display */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-gap-2 {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Icons */

.icon-container {
  display: flex;
  gap: 8px;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18px;
  min-width: 18px;
}

.icon-md {
  font-size: 1.4em;
}

/* Filter */
.filter-dropdown {
  position: absolute;
  bottom: 0;
  right: 4px;
  transform: translateY(calc(100% + 4px));
  display: flex;
  gap: 2px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  padding: 4px;
  z-index: 2;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid transparent;
}

.filter-active {
  background-color: var(--main-bg-color);
}

.filter-finished {
  background-color: #b1ffc7;
}

.filter-onhold {
  background-color: #FFF9b1;
}

.filter-cancelled {
  background-color: #fec5c5;
}

.active-selection {
  border: 1px solid var(--active-selection-color);
}

/* Hover effects */

.hover:hover {
  cursor: pointer;
}

.hover-border:hover {
  cursor: pointer;
  border: 1px solid var(--selection-hover-color);
}

/* Button */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--button-bg);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--button-hover-bg);
}

.btn {
  color: white;
  background-color: #2999f7;
}

.btn:hover {
  color: white;
  background-color: #3da8ff;
}

.darkmode-btn {
  background: none;
  width: max-content;
  padding: 0;
}

.darkmode-btn:hover {
  background: none;
}

.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

/* Input */
input {
  padding: 0.4em;
}

/* Colors */
.default-select {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.yellow {
  color: #d2b10f;
}

.green {
  color: #20d896;
}

.blue {
    color: #2999f7
}

.grey {
  color: #aaa;
}

.lightgrey {
  color: #ccc;
}

.orange {
  color: #ff5500;
}

.red {
  color: #ff7878;
}

.red-hover:hover {
    color: #ff6363;
}

a {
  font-weight: 500;
  color: #2999f7
;
  text-decoration: inherit;
}
a:hover {
  color: #3da8ff;
}

/* Margin */
.m-r-1 {
  margin-right: 4px;
}

.m-r-3 {
  margin-right: 12px;
}

.m-l-1 {
  margin-left: 4px;
}

.m-l-2 {
  margin-left: 8px;
}

.m-l-3 {
  margin-left: 12px;
}


