#root {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden; /* prevent layout blowout */
}

@media (max-width: 500px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}

:root {
  --main-bg-color: #fff;
  --bg2-color: #f9fafa;
  --bg3-color: #eaedef;
  --bg4-color: #d8dde0;
  --bg5-color: #ccd1d4;
  --usermsg-bg-color: #e2f0fa;
  --text-color: #000;
  --text2-color: #333;
  --text3-color: #666;
  --text4-color: #777;
  --text5-color: #888;
  --line-color: #aaa;
  --button-bg: #eee;
  --button-hover-bg: #ddd;
  --border-color: #ccc;
  --active-selection-color: rgba(0, 0, 0, 0.5);
  --selection-hover-color: rgba(0, 0, 0, 0.5);
  --green-text-color:#006b2d;
  --green-background-color: #b1ffc7;
  --yellow-text-color:#5a4b00;
  --yellow-background-color: #FFF9b1;
  --red-text-color:#6b0000;
  --red-background-color: #fec5c5;

  --pri1-bg-color: #c31700;
  --pri1-text-color: #ffe2e2;
  --pri1-border-color: #c31700;
  --pri2-bg-color: #e66900;
  --pri2-text-color: #ffedd4;
  --pri2-border-color: #e66900;
  --pri3-bg-color: #f2ae05;
  --pri3-text-color: #fef9c2;
  --pri3-border-color: #f2ae05;
  --pri0-bg-color: #99a1afdd;
  --pri0-text-color: #f3f4f6;
  --pri0-border-color: #99a1af;
}

[data-theme='dark'] {
  --main-bg-color: #000;
  --bg2-color: #121212;
  --bg3-color: #222;
  --bg4-color: #333;
  --bg5-color: #444;
  --usermsg-bg-color: #243d50;
  --text-color: #f0f0f0;
  --text2-color: #9e9e9e;
  --text3-color: #8e8e8e;
  --text4-color: #7e7e7e;
  --text5-color: #6e6e6e;
  --line-color: #333;
  --button-bg: #1f1f1f;
  --button-hover-bg: #444;
  --border-color: #555;
  --active-selection-color: rgba(255, 255, 255, 0.5);
  --selection-hover-color: rgba(255, 255, 255, 0.5);
  --green-text-color:#c6ebd1;
  --green-background-color: #304639;
  --yellow-text-color:#e2dfbc;
  --yellow-background-color: #5c5433;
  --red-text-color:#e4c4c4;
  --red-background-color: #4b2b2b;

  --pri1-bg-color: #e04046bb;
  --pri1-text-color: #fff;
  --pri1-border-color: none;
  --pri2-bg-color: #f6811bcc;
  --pri2-text-color: #fff;
  --pri2-border-color: none;
  --pri3-bg-color: #fcb726cc;
  --pri3-text-color: #fff;
  --pri3-border-color: none;
  --pri0-bg-color: #8c8b8ccc;
  --pri0-text-color: #fff;
  --pri0-border-color: none;
}

html, body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-size: 1.8rem;
  line-height: 1;
}

p {
  color: var(--text2-color);
  margin: 0;
}

.info-text {
  text-align: start;
}

.list-p {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  color: var(--text2-color);
  font-size: 0.9em;
  margin-top: 12px;
  margin-bottom: 8px;
  line-height: 1;
}

/* Header */

header {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--bg3-color);
}

@media (max-width: 650px) {
  header {
    display: flex;
  }
}

.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 4px 20px;
  color: white;
  background-color: #3da8ff;
}

.top-header i {
  font-size: 2rem;
}

.top-header h2 {
  font-weight: 500;
  line-height: 1;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.top-header button {
  background: none;
  color: white;
  border: 1px solid white;
  padding: 8px 16px;
}

.top-header button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.bottom-header {
  padding-top: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg2-color);
}

.screen {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  box-sizing: border-box;
  background-color: var(--bg2-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  width: 70px;
  height: 100vh;
  padding: 44px 8px;
  z-index: 20;
}

@media (max-width: 650px) {
  .sidebar {
    display: none;
  }
}

.sidebar-menu li {
  cursor: pointer;
  color: #999; /* default icon color */
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
}

.mobile-menu {
  display: none;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  gap: 2px;
  width: 100%;
  justify-content: space-around;
  font-size: 1.4rem;
  color: var(--text3-color);
  z-index: 20;
  background-color: var(--bg2-color);
  padding: 4px 12px 4px 16px;
  border-top: 1px solid var(--bg3-color);
}

.sidebar-menu li:hover,
.mobile-menu li:hover {
  cursor: pointer;
}

.sidebar-menu li.active,
.mobile-menu li.active {
  color: var(--text-color); /* highlighted color (blue example) */
}

.sidebar-menu li:hover,
.mobile-menu li:hover {
  color: var(--text-color); /* hover color */
}

.sidebar-menu li i:hover,
.mobile-menu li i:hover {
  color: var(--text-color); /* hover color */
}

@media (max-width: 650px) {
  .mobile-menu {
    display: flex;
  }
}

/* Lists */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul-heading {
  color: var(--text2-color);
  user-select: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.ul-heading:hover {
  cursor: pointer;
}

.logo {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.nflogo {
  height: 40px;
  padding: 2px;
  transition: all 0.2s;
}

.nflogo:hover {
  height: 44px;
  padding: 0;
}

/* Users */
.userlist {
  display: grid;
  grid-template-columns: 48px 200px 1fr;
  gap: 8px;
}

.usertag-container {
  position: relative;
}

.user-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  user-select: none;
}

.user-tag:hover {
  cursor: pointer;
}

.usertag-dropdown {
  min-width: max-content;
  font-weight: 500;
  background-color: var(--bg2-color);
  padding: 2px;
  position: absolute;
  z-index: 12;
  border: 1px solid var(--border-color);
  user-select: none;
}

@media (min-width: 651px) {
  .usertag-dropdown {
    bottom: 0;
    left: 48px;
  }
}

@media (max-width: 650px) {
  .usertag-dropdown {
    translate: (-100%, 0);
    right: 0;
    top: 48px;
  }
}


.user {
  color: #3da8ff;
  font-weight: 500;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #f5f7fb;
  border-radius: 50%;
}

.main-container {
  padding: 32px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

@media (max-width: 850px) {
  .main-container {
    padding: 16px;
  }
}

@media (max-width: 650px) {
  .main-container {
    margin-top: 52px;
    margin-bottom: 42px;
  }
}

@media (max-width: 500px) {
  .main-container {
    padding: 8px;
  }
}

.widget-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
}

.container {
  width: 100%;
}

/* Login */
.login-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-input {
  background-color: var(--bg2-color);
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
  outline: none;
  border: none;
  width: 214px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
}

.login-error {
  font-size: 0.8rem;
}

/* Force autofilled inputs to keep your custom styles */
input.login-input:-webkit-autofill,
input.pin-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s; /* trick to keep color */
}

/* For Firefox */
input.login-input:-moz-autofill,
input.pin-input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #333 inset !important;
  -moz-text-fill-color: white !important;
}


/* Menu bar */
.menu-bar {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  margin-inline: 16px;
}

@media (max-width: 500px) {
  .menu-bar {
      margin-inline: 20px;
  }
}

.menu-bar-left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.menu-bar-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-bar-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Footer */

.footer {
  width: 100%;
  font-size: 0.8em;
  margin-top: 20px;
  color: var(--text3-color);
}

.footer p {
  margin: 0;
  line-height: 1.5;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 200px;
  padding: 4px 20px 32px 20px;
  border-radius: 10px;
  background-color: var(--bg2-color);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 6px 24px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media (max-width: 500px) {
  .card {
      border-radius: 0;
  }
}

.has-header {
  padding-top: 60px;
}

.grow-1 {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.card-header {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 5px;
  align-items: center;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.card-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Message */
.message-container {
  position: fixed;
  bottom: 4px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 16px;
  background-color: #0fad73;
  z-index: 100;
  padding-left: 32px;
  padding-right: 64px;
}

.message-container p {
  font-weight: 500;
  color: white;
  text-align: center;
}

/* ToDo */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tasklist-header {
  color: var(--text2-color);
  display: grid;
  grid-template-columns: 48px 48px 1fr 48px;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 4px;
}

@media (max-width: 500px) {
 .task-list,
 .tasklist-header {
  margin-inline: -20px;
 }
}

.create-task-input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.new-task-element,
.new-task-element-active {
  display: flex;
  align-items: center;
  border-radius: 24px;
  margin-bottom: 4px;
}

.new-task-element {
  min-height: 48px;
  background-color: var(--bg2-color);
  border: 2px dashed var(--border-color);
  cursor: pointer;
}

.new-task-element:hover {
  background-color: var(--bg3-color);
}

.new-task-element-active {
  justify-content: space-between;
  gap: 8px;
  line-height: 1.2;
  min-height: 60px;
  background-color: var(--bg3-color);
  border: 2px solid var(--border-color);
}

.new-task-title {
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.new-task-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-task-input {
  background: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text1-color);
  font-family: inherit;
  border: none;
  outline: none;
  padding: 0;
}

.new-task-btn-container {
  display: flex;
  gap: 4px;
  margin-right: 12px;
}

.task {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  line-height: 1.2;
  min-height: 48px;
  max-width: 100%;
  align-items: center;
  border-radius: 24px;
}

.task:hover {
  background-color: var(--bg3-color);
  cursor: pointer;
}

.active-task {
  background-color: var(--bg3-color);
}

.task-info {
  display: flex;
  flex: 1;
  height: 100%;
  text-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.task-title {
  color: var(--text-color);
  font-weight: 500;
}

.task-description {
  color: var(--text2-color);
  font-size: 0.9rem;
  font-weight: 400;
}

.task-dropdown {
  position: absolute;
  top: 32px;
  background-color: var(--bg2-color);
  padding: 2px;
  border: 1px solid var(--border-color);
  z-index: 3;
}

.task-action {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 48px;
  width: 48px;
  cursor: pointer;
  user-select: none;
  color: var(--text3-color)
}

.new-task-action {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 48px;
  width: 48px;
  color: var(--text5-color)
}

.task-action:hover {
  color: var(--text2-color)
}

.task-priority {
  box-sizing: border-box;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 34px;
  width: 34px;
  height: 34px;
  color: white;
  cursor: pointer;
  user-select: none;
  margin-right: 8px;
  border-radius: 50%;
}

.task-priority-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.priority-dropdown {
  position: absolute;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--bg2-color);
  z-index: 3;
  padding: 4px;
  user-select: none;
  border: 1px solid var(--border-color);
}

.priority-dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.priority-dropdown .priority-0:hover,
.priority-dropdown .priority-1:hover,
.priority-dropdown .priority-2:hover,
.priority-dropdown .priority-3:hover {
  box-sizing: border-box;
  border: 1px solid var(--text2-color);
}

.priority-1 {
  color: var(--pri1-text-color);
  background-color: var(--pri1-bg-color);
  border: 1px solid var(--pri1-border-color);
}

.priority-2 {
  color: var(--pri2-text-color);
  background-color: var(--pri2-bg-color);
  border: 1px solid var(--pri2-border-color);
}

.priority-3 {
  color: var(--pri3-text-color);
  background-color: var(--pri3-bg-color);
  border: 1px solid var(--pri3-border-color);
}

.priority-0 {
  color: var(--pri0-text-color);
  background-color: var(--pri0-bg-color);
  border: 1px solid var(--pri0-border-color);
}

.task-status {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 48px;
  width: 48px;
  cursor: pointer;
  user-select: none;
}

.task-edit-input {
  color: var(--text1-color);
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  white-space: nowrap;
  text-wrap: wrap;
}

.task-description-input {
  color: var(--text2-color);
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  white-space: nowrap;
  text-wrap: wrap;
}

.status-dropdown {
  position: absolute;
  top: 0;
  right: 48px;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--bg2-color);
  z-index: 3;
  padding: 4px;
  user-select: none;
  border: 1px solid var(--border-color);
}

.dropdown-item {
  display: grid;
  grid-template-columns: 18px 1fr;
  padding: 4px 8px;
  border: 1px solid transparent;
  min-width: max-content;
}

.dropdown-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item-text-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 8px;
}

/* PIN-form */
.pin-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  background-color: var(--main-bg-color);
  padding: 10px 40px 20px;
  border-radius: 10px;
  z-index: 20;
  border: 1px solid var(--text4-color);
}

.pin-form {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.pin-heading {
  margin-bottom: 12px;
}

.pin-input-container {
  background-color: var(--bg2-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 12px;
  padding-inline: 8px;
}

.pin-input-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 100%;
}

.pin-input-container i {
  color: var(--text5-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.pin-input-container i:hover {
  color: var(--text4-color);
}

.pin-input {
  width: 130px;
  background-color: var(--bg2-color);
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
  padding: 4px;
  padding-left: 32px;
  outline: none;
  border: none;
}

.pin-feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin-top: 12px;
}

.pin-feedback-message {
  font-size: 0.8rem;
  color: var(--text2-color);
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* Tabs */

.tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tab {
  color: #555;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color:#777;
  font-size: 0.8rem;
  user-select: none;
}

/* Notes */
.stickerboard {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.stickerboard.mobile {
  position: static;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.sticker {
  position: absolute;
  box-sizing: border-box;
  padding-top: 32px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 0px 1px;
  transition: width 0.2s ease;
}

.stickerboard.mobile .sticker {
  position: static;
}

.sticker-inside {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.drag-handle {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  user-select: none;
  margin-right: 8px;
  padding-left: 8px;
}

.resize-controls {
  position: absolute;
  display: none;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid none;
}

.sticker-default .resize-controls {
  background-color: rgba(0, 0, 0, 0.2);

}

.resize-controls.right {
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  flex-direction: column;
  gap: 4px;
}

.resize-controls.bottom {
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  gap: 4px;
}

.sticker-default {
  background-color: var(--bg3-color);
}

.sticker-yellow {
  background-color: #FFF9b1;
}

.sticker-blue {
  background-color: #b1e4ff;
}

.sticker-red {
  background-color: #fec5c5;
}

.sticker-green {
  background-color: #b4ffb1;
}

.sticker-headline {
  box-sizing: border-box;
  position: relative;
  top: 0;
  right:0;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 8px 0 0;
  color: #474747;
  font-size: 0.8rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.sticker-icons {
  display: none;
  align-items: center;
  gap: 4px;
}

.sticker-inside:hover .sticker-icons {
  display: flex;
}

.sticker-inside:hover .resize-controls {
  display: flex;
}

.sticker-icon {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3)
}

.sticker-icon:hover {
  color: rgba(0, 0, 0, 0.4)
}

.sticker-default .sticker-icon {
  color: var(--text4-color);
}

.sticker-default .sticker-icon:hover {
  color: var(--text3-color);
}

.sticker-textarea {
  color: black;
  font-family: "Kalam", cursive;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding: 4px 12px 12px 12px;
  background: none;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
}

.sticker-default .sticker-textarea {
  color: var(--text-color);
}

@media (max-width: 560px) {
  .stickerboard {
    grid-template-columns: 1fr;
  }

  .sticker {
    grid-column: span 1 !important;
    width: 100% !important;
  }

  .sticker-icons {
    display: flex;
  }

  .resize-controls.bottom {
    display: flex;
  }

  .sticker-inside:hover .resize-controls.right {
    display: none;
  }
}

/* Burgermenu */
.burgermenu-container {
  position: relative;
}

.burgermenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  color: var(--text4-color);
  cursor: pointer;
}

.burgermenu:hover {
  color: var(--text3-color);
}

.burger-dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: var(--bg2-color);
  z-index: 2;
  border: 1px solid var(--border-color);
  user-select: none;
  padding: 4px;
}

.burger-dropdown ul{
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}

.burger-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  padding: 8px 16px;
  line-height: 0;
  cursor: pointer;
  min-width: max-content;
}

.burger-li p {
  color: black;

}

.burger-li i{
  display: flex;
  justify-content: center;
  min-width: 18px;
}

.burger-li-active {
  color:#006b2d;
  background-color: #b1ffc7;
}

.burger-li-inactive {
  color:#818181;
  background-color: #dedede;
}


/* Messages */
.messages-container {
  display: flex;
  gap: 4px;
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  flex-direction: column-reverse;
}

.message {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: max-content;
  background-color: var(--bg3-color);
  padding: 4px 8px;
  border-radius: 10px;
}

.message p {
  color: var(--text2-color);

}

.user-msg {
  background-color: var(--bg2-color);
  margin-left: auto;
  margin-right: 8px;
}

.message p {
  line-height: 1.5;
  margin: 0;
}

.message-info {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.message-timestamp {
  color: #7c93a6;
}

.message-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.message-input {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 50px;
  padding: 4px 8px;
  resize: none;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.message-btn {
  padding: 8px 16px;
  color: white;
  background-color: #007bff;
  margin-left: auto;
}

.message-btn:hover {
  background-color: #1083ff;
}

/* Alphabet */
.nato-alphabet-container {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.nato-letter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: var(--main-bg-color);
}

.nato-letter {
  color: var(--text3-color);
  font-size: 1.5rem;
  font-weight: 500;
}

/* Display */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-gap-2 {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Icons */

.icon-container {
  display: flex;
  gap: 8px;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18px;
}

.icon-md {
  font-size: 1.4em;
}

/* Filter */
.filter-dropdown {
  position: absolute;
  bottom: 0;
  right: 4px;
  transform: translateY(calc(100% + 4px));
  display: flex;
  gap: 2px;
  background-color: var(--bg2-color);
  border: 1px solid var(--border-color);
  padding: 4px;
  z-index: 2;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid transparent;
}

.filter-active {
  background-color: var(--main-bg-color);
}

.filter-finished {
  background-color: #b1ffc7;
}

.filter-onhold {
  background-color: #FFF9b1;
}

.filter-cancelled {
  background-color: #fec5c5;
}

.active-selection {
  border: 1px solid var(--active-selection-color);
}

/* Hover effects */
.hover:hover {
  cursor: pointer;
}

.hover-border:hover {
  cursor: pointer;
  border: 1px solid var(--selection-hover-color);
}

/* Buttons */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid transparent;
  height: 32px;
  min-width: 32px;
  padding-inline: 16px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--button-bg);
  cursor: pointer;
  user-select: none;
  line-height: 1;
}
button:hover {
  background-color: var(--button-hover-bg);
}

.close-widget-btn {
  background: none;
  padding-inline: 4px;
  color: var(--text5-color);
}

.close-widget-btn:hover {
  background: none;
  color: var(--text4-color);
}

.btn {
  color: white;
  background-color: #007bff;
}

.btn:hover {
  color: white;
  background-color: #1083ff;
}

.btn-red {
  color: white;
  background-color: #f72929;
}

.btn-red:hover {
  color: white;
  background-color: #ff3d3d;
}

.darkmode-btn {
  background: none;
  width: max-content;
  padding: 0;
}

.darkmode-btn:hover {
  background: none;
}

.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.close-button-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #00000022;
  border-radius: 0 10px 10px 0;
}

.close-button-msg i {
  font-size: 0.8rem;
}

.close-button-msg:hover {
  background-color: #00000033;
}

.save-btn {
  color: white;
  background-color: #109967;
}

.save-btn:hover {
  background-color: #0c8559;
}

.delete-btn {
  color: white;
  background-color: #b83434;
}

.delete-btn:hover {
  background-color: #a32b2b;
}

/* Toggle switch */

.toggle-switch {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  width: fit-content;
  margin: 0.5rem 0;
  height: 32px;
}

.toggle-option {
  flex: 1;
  padding: 0.5rem 1rem;
  background-color: var(--button-bg);
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--text2-color);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0;
}

.toggle-option:hover {
  background-color: var(--button-hover-bg);
}

/* Left option when selected: round left */
.toggle-option:first-child.active {
  border-radius: 8px 0 0 8px;
}

/* Right option when selected: round right */
.toggle-option:last-child.active {
  border-radius: 0 8px 8px 0;

}

.toggle-option.active {
  background-color: var(--button-hover-bg);
  color: white;
}

/* Radio button */
.radiobutton {
    display: flex;
    height: 40px;
    border-radius: 20px;
    gap: 2px;
}

.label {
    background-color: var(--button-bg);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
    height: 100%;
    user-select: none;
    cursor: pointer;
}

.label-left {
    padding-left: 12px;
    border-radius: 20px 0 0 20px;
}

.label-right {
    padding-right: 12px;
    border-radius: 0 20px 20px 0;
}

.label:hover {
    background-color: var(--button-hover-bg);
}

.label.active {
  background: #007bff;
  color: #fff;
}

/* Input */
input {
  padding: 0.4em;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--border-color);
}

textarea {
    border: 1px solid var(--border-color);
}

/* Colors */
.default-select {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.yellow {
  color: #d2b10f;
}

.green {
  color: #20d896;
}

.blue {
    color: #2999f7
}

.grey {
  color: #a6a6a6;
}

.lightgrey {
  color: #ccc;
}

.orange {
  color: #ff5500;
}

.red {
  color: #ff7878;
}

.red-hover:hover {
    color: #ff6363;
}

a {
  font-weight: 500;
  color: var(--text-color)
;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

/* Margin */
.m-r-1 {
  margin-right: 4px;
}

.m-r-3 {
  margin-right: 12px;
}

.m-l-1 {
  margin-left: 4px;
}

.m-l-2 {
  margin-left: 8px;
}

.m-l-3 {
  margin-left: 12px;
}


